.App {
  text-align: center;
  background-color: #000;
  background-image: url('./images/pebbles.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.App-header {
  color: white;
}

.round-corner {
  border-radius: .5rem;
}
