@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

.App {
  text-align: center;
  background-color: #000;
  background-image: url('./images/pebbles.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.App-header {
  color: white;
  font-family: 'Lato', sans-serif;
}

.blockquote {
  font-family: 'Open Sans', sans-serif;
}

.card {
  max-width: 50rem;
  border-radius: 1rem;
}

.fa-quote-left {
  color: lightgrey;
  margin-left: -1rem;
}

@media (min-width: 576px) {
  .App-header h1 {
    margin-bottom: 2rem;
  }
}
